version: "2.1"

services:
  pdf-service:
    container_name: pdf_service
    image: pdf_service
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 3004:3004
    environment:
      PDF_SERVICE_PORT: 3004
  yarn:
    image: buildkite/puppeteer:10.0.0
    working_dir: /app
    volumes:
      - "node_modules:/app/node_modules"
      - "./:/app"
    entrypoint: ['yarn']
volumes:
  node_modules:
