name: Build and Deploy API Docs
on:
  schedule:
    - cron: "30 2 * * 1"
  workflow_dispatch:
  push:
    branches:
      - main
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Install and Build
        run: |
          yarn install --ignore-scripts --frozen-lockfile
          yarn run redoc:build
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@4a3abc783e1a24aeb44c16e869ad83caf6b4cc23 # v4.7.4
        with:
          branch: gh-pages
          folder: openapi/docs
