on:
  workflow_call:

jobs:
  publish_unit_tests:
    name: Publish Unit Tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Download Node Junit
        id: download_junit
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: junit
          path: test-results/junit

      - name: Download Inspec Junit
        id: download_inspec
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: inspec
          path: test-results/inspec

      - name: Download Coverage
        id: download_coverage
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: coverage
          path: coverage

      - name: Publish Unit Test Results
        uses: EnricoMi/publish-unit-test-result-action@34d7c956a59aed1bfebf31df77b8de55db9bbaaf # v2.21.0
        if: always()
        with:
          check_name: "Unit Test Results"
          files: |
            test-results/junit/*.xml
            test-results/inspec/*.xml

      - name: Coverage Report
        uses: lucassabreu/comment-coverage-clover@main
        with:
          file: "/home/runner/work/opg-pdf-service/opg-pdf-service/coverage/clover.xml"
          min-line-coverage: 89
          min-method-coverage: 90
