on:
  workflow_call:

jobs:
  publish_unit_tests:
    name: Publish Unit Tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Download Node Junit
        id: download_junit
        uses: actions/download-artifact@95815c38cf2ff2164869cbab79da8d1f422bc89e # v4.2.1
        with:
          name: junit
          path: test-results/junit

      - name: Download Inspec Junit
        id: download_inspec
        uses: actions/download-artifact@95815c38cf2ff2164869cbab79da8d1f422bc89e # v4.2.1
        with:
          name: inspec
          path: test-results/inspec

      - name: Download Coverage
        id: download_coverage
        uses: actions/download-artifact@95815c38cf2ff2164869cbab79da8d1f422bc89e # v4.2.1
        with:
          name: coverage
          path: coverage

      - name: Publish Unit Test Results
        uses: EnricoMi/publish-unit-test-result-action@afb2984f4d89672b2f9d9c13ae23d53779671984 # v2.19.0
        if: always()
        with:
          check_name: "Unit Test Results"
          files: |
            test-results/junit/*.xml
            test-results/inspec/*.xml

      - name: Coverage Report
        uses: lucassabreu/comment-coverage-clover@main
        with:
          file: "/home/runner/work/opg-pdf-service/opg-pdf-service/coverage/clover.xml"
          min-line-coverage: 89
          min-method-coverage: 100
